{% extends 'base.html' %}

{% block main %}
<h2 class="mx2">Linked Data Fragments</h2>
<div class="grd-row mx2">
    <div class="grd-row-col-3-6">
         <h4>RDF Graphs</h4>
         <p>The promise of RDF graphs for descriptive, structural, and relational metadata is that
            both simple and complex information can be represented in a single syntax that make
            up <strong>Subjects</strong>, <strong>Predicates</strong>, and <strong>Objects</strong>. 

         </p>
         <h4>SPARQL Endpoints</h4>
           <p>
             Providing a full SPARQL endpoint for both small and large RDF linked-data sets is 
             costly both in time and resources, especially for more complex queries. This 
             often results in poor responses and unreliable service, especially if the SPARQL 
             endpoint trying to handle multiple clients querying the RDF graph database.   
            </p>
    </div>
    <div class="grd-row-col-3-6">
         <h4>Fragments</h4>
        <a href="http://ruben.verborgh.org/">Ruben Verborgh</a> of <a href="">Ghent University</a> in 
        Belgium originated the concept of <a href="http://linkeddatafragments.org">Linked Data Fragments</a> 
        that offers a middle-ground between 
        different options for accessing RDF graph data. Instead of needing high-powered server to handle 
        the processing load required for hosting a full SPARQL endpoint or the alternative of just 
        providing a data dump where all of the data is processed locally to be useful, the Linked 
        Data Fragments approach
        instead offers a lightweight querying pattern called a 
        <a href="http://www.hydra-cg.com/spec/latest/triple-pattern-fragments/"><strong>Triple Pattern Fragment</strong></a> that returns zero or more triples based on a simplified
        search syntax..
        </p>
    </div>
</div>
<div class="grd-row mx2">
    <div class="grd-row-col-4-6">
	<h3>Triple Pattern Selector</h3>
	<p>
	    A triple pattern fragment is determined by a <strong>triple pattern selector</strong>
	    where each selector is made up a <em>subject</em>, <em>predicate</em>, or 
	    <em>object</em>. The <em>subject</em> and <em>predicate</em> must be either an IRI 
	    or a variable while the <em>object</em> must be either an IRI, variable, or literal
	    value. 
	</p>
    </div>
</div>
<div class="mx2">
    <h3>Examples</h3>
	<pre>{ ?s ?p ?o . }</pre>
	<table>
	    <tr>
            	<th>Subject</th>
		<td>http://dp.la/api/items/697865d065ccd4a47815a900049ee36d#sourceResource</td>
	    </tr>
	    <tr>
		<th>Predicate</th>
		<td>http://dp.la/api/items/context/title</td>
	   </tr>
	   <tr>
	    	<th>Object</th>
		<td>?o</td>
	   </tr>
	   <tr>
		<th>Result (pseudo-json)</th>
		<td><pre>
{"data": [{"s":"http://dp.la/api/items/697865d065ccd4a47815a900049ee36d#sourceResource", 
           "p":"http://dp.la/api/items/context/title", 
           "o":"Chipped Projectile Points"}], 
 "metadata": {"s": ".", "p":"void:triples", "s": 1}}
		</pre>
	   </tr>
	</table>
	<table>
	    <tr>
            	<th>Subject</th>
		<td>?s</td>
	    </tr>
	    <tr>
		<th>Predicate</th>
		<td>http://dp.la/api/items/context/title</td>
	   </tr>
	   <tr>
	    	<th>Object</th>
		<td>?o</td>
	   </tr>
	   <tr>
		<th>Result (pseudo-json)</th>
		<td><pre>
{"data": [{"s":"http://dp.la/api/items/697865d065ccd4a47815a900049ee36d#sourceResource", 
           "p":"http://dp.la/api/items/context/title", 
           "o":"Chipped Projectile Points"}], 
 "metadata": {"s": ".", "p":"void:triples", "s": 1}}
		</pre>
	   </tr>
	</table>
</div>
<hr>
<p class="measure p2">
<a class="btn--blue mx2" href="{{ url_for('show_slide', number=2) }}">
		Server Beginnings
				<i class="fa fa-hand-o-right"></i>

</a>
</p>
{% endblock %}
