{% extends 'base.html' %}

{% block main %}
<h2 class="mx2"><img style="width: 450px;height: auto" src="{{ url_for('static', filename="img/redis.png") }}"> - LRU Cache</h2>
<div class="grd-row mx2">
    <section class="grd-row-col-2-6">
        
        <h3>What is Redis?</h3>
        <p style="font-size: 1.2em;">
         Redis, short for <strong>RE</strong>mote <strong>DI</strong>ctionary <strong>S</strong>erver, is an in-memory
         key-value data storage server and is one of the  most popular No-SQL technologies. Started and still actively  
         maintained by Salvatore Sanfilippo, Redis use as sophisticated "glue" technology powers solutions across both
         start-ups and established technology companies such as Twitter, Slack, Medium, and Cisco.
        </p>
    </section>
    <section class="grd-row-col-4-6">
        <p>Redis real power comes from the rich set of operations you can perform on different data structures 
        like lists, sets, hashes, sorted sets, and other more exotic data types. 

        </p>
        <pre>
>> Clients

        </pre>  
        <div class="bg--dark-gray mx2" style="width: 50%">
            <h4 class="fnt--light-gray txt--center"><em>Mastering Redis</em></h4>

        </div>
    </section>
</div>
<p class="measure p2">
<a class="btn--green mx2" href="{{ url_for('show_slide', number=2) }}">
		<i class="fa fa-hand-o-left"></i>
		Linked Data Fragment Server</a>
<a class="btn--blue mx2" href="{{ url_for('show_slide', number=4) }}">
		Python Prototypes
		<i class="fa fa-hand-o-right"></i>

</a>
  </p>
{% endblock %}
