{% extends 'base.html' %}

{% block main %}
<h2 class="mx2">Redis Key Schema</h2>
<div class="grd-row mx2">
    <section class="grd-row-col-2-6">
        <h3>Lua Scripting in Redis</h3>

    </section>
    <section class="grd-row-col-4-6">
        <div class="bg--orange p1">
        <p>The design of the Linked-Data Fragment Server Redis LRU Cache shamelessly copies Redis 
        in representing triples in the cache. Much like how the SHA1 of a Lua Script is used to 
        execute server-side code in Redis; in the LDFS Redis LRU Cache design all subjects, predicates,
        and objects are stored as string values using the SHA1 hash of the value as the Redis key.
        </p>
        </div>
    </section>
</div>

<p class="measure p2">
<a class="btn--green mx2" href="{{ url_for('show_slide', number=3) }}">
		<i class="fa fa-hand-o-left"></i>
		Redis Overview</a>
<a class="btn--blue mx2" href="{{ url_for('show_slide', number=5) }}">
		Representing Triples
		<i class="fa fa-hand-o-right"></i>

</a>
  </p>

{% endblock %}
