{% extends 'base.html' %}

{% block main %}
<h2 class="mx2">Redis Key Schema</h2>
<p class="mx2" style="font-size: 1.2em">
    Because of the flexibility of Redis key (any characters up to a maximum size 
    of 512 megabytes) a recommendation is to structure the relationships in the 
    names and delimiters with the keys that are used in an application This
    is called a key schema. The key schema used in the Linked Data Structure format
    is relatively simple and is inspired by a technique for calling Lua server-side
    scripts in Redis.
</p>
<div class="grd-row mx2">
    <section class="grd-row-col-2-6">
        <h3>Lua Scripting in Redis</h3>
	<p>Redis offers server-side scripts using the Lua programming language.
        You can load the script once and a SHA1 hash digest of the script is returned 
	that then in subsequent function calls instead of sending 
	the entire script over the network each time you want to 
	execute the function, you use the SHA1 and any arguments</p>

    </section>
    <section class="grd-row-col-4-6">
        <div class="bg--orange p1">
        <p>The design of the Linked-Data Fragment Server Redis LRU Cache shamelessly copies Redis 
        in representing triples in the cache. Much like how the SHA1 of a Lua Script is used to 
        execute server-side code in Redis; in the LDFS Redis LRU Cache design all subjects, predicates,
        and objects are stored as string values using the SHA1 hash of the value as the Redis key.
        </p>
        </div>
    </section>
</div>

<p class="measure p2">
<a class="btn--green mx2" href="{{ url_for('show_slide', number=3) }}">
		<i class="fa fa-hand-o-left"></i>
		Redis Overview</a>
<a class="btn--blue mx2" href="{{ url_for('show_slide', number=5) }}">
		Representing Triples
		<i class="fa fa-hand-o-right"></i>

</a>
  </p>

{% endblock %}
