{% extends 'base.html' %}

{% block main %}
<h2 class="mx2">Preliminary Results</h2>
<div class="grd-row mx2">
    <section class="rd-row-col-3-6">
        <h3>Servers</h3>

        <h3>Redis Triple Representations</h3>

    </section>
    <section class="rd-row-col-3-6">
        <div class="brdr--mid-gray p1 mx2">
            <h3>Sidebar</h3>
            <p>Mass insertion experiments &hellip;</p>
        </div>
    </section>
</div>
<p class="measure p2">
<a class="btn--green mx2" href="{{ url_for('show_slide', number=4) }}">
		<i class="fa fa-hand-o-left"></i>
		Python Prototypes</a>
<a class="btn--blue mx2" href="{{ url_for('show_slide', number=6) }}">
		Go Production Server
		<i class="fa fa-hand-o-right"></i>

</a>
</p>
{% endblock %}
