{% extends 'base.html' %}

{% block main %}
<h2 class="mx2">Representing Triples</h2>
<div class="grd-row mx2">
    <section class="grd-row-col-3-6">
        <h3>String</h3>
        <p>
        The first attempt to represent a triple relationship is to store an integer 
        using the Redis key made up the three SHA1 of the subject, predicate, and
        object using a colon <code>:</code> Redis convention as a delimiter.
        </p>
    </section>
    <section class="grd-row-col-3-6">
        <div class="brdr--mid-gray p1 mx2">
            <h3>Examples</h3>
            <p class="p1">
                ``
            </p>
        </div>
    </section>
</div>
<div class="grd-row mx2 my1">
    <section class="grd-row-col-3-6">
        <h3>Hash</h3>
        <p>

        </p>
    </section>
    <section class="grd-row-col-3-6">
        <div class="brdr--mid-gray p1 mx2">
            <h3>Examples</h3>
    </section>
</div>
<div class="grd-row mx2">
    <section class="grd-row-col-3-6">
        <h3>Set</h3>
    </section>
    <section class="grd-row-col-3-6">
        <div class="brdr--mid-gray p1 mx2">
            <h3>Examples</h3>
    </section>
</div>
    <p class="measure p2">
<a class="btn--green mx2" href="{{ url_for('show_slide', number=4) }}">
		<i class="fa fa-hand-o-left"></i>
		Key Schema</a>
<a class="btn--blue mx2" href="{{ url_for('show_slide', number=6) }}">
		 Testing Setup
		<i class="fa fa-hand-o-right"></i>

</a>
</p>
{% endblock %}
