{% extends 'base.html' %}

{% block main %}
<h2 class="mx2">Experimental Testing Setup</h2>
<div class="grd-row mx2">
    <section class="grd-row-col-3-6">
         <p>
             To create our initial DPLA testing record set, we took JSON records from three
             DPLA collections from the January 2016 bulk downloads, extracted just the sourceResource from 
            the JSON to create a simplified graph that was added to the testing record set. These collections
            are. :
        </p>
        <ul> 
            <li>University of Illinois Urbana-Champaign (<a href="https://dpla-provider-export.s3.amazonaws.com/2016/01/uiuc.json.gz">https://dpla-provider-export.s3.amazonaws.com/2016/01/uiuc.json.gz</a>), total JSON
            records of 18,231. This collection was chosen to represent a smaller collection and I confess as 
            because of a personal connection to this institution (GSLIS 2003 graduate) 
            </li>
            <li>The Getty (<a href="https://dpla-provider-export.s3.amazonaws.com/2016/01/getty.json.gz">https://dpla-provider-export.s3.amazonaws.com/2016/01/getty.json.gz</a>) as mid-range collection .  

            </li>
            <li>Smithsonian (<a href="https://dpla-provider-export.s3.amazonaws.com/2016/01/smithsonian.json.gz">https://dpla-provider-export.s3.amazonaws.com/2016/01/smithsonian.json.gz</a>) collection as the largest single.</li>
        </ul>

    </section>
    <section class="grd-row-col-2-6">
	<h3>Testing Record Set</h3>

        <table class="mx1">
            <thead>
            <tr>
                <th>collection</th>
                <th>total records</th>
                <th>test record set</th>
                <th>generation time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>uiuc.json</td>
                <td class="txt--right">18,231</td>
                <td class="txt--right">18,231</td>
		<td>n/a</td>
                
            </tr> 
            <tr>
                <td>getty.json</td>
                <td class="txt--right">95,904</td>
                <td class="txt--right">50,000</td>
                <td>8.48 minutes</td>

            </tr>
            <tr>
                <td>smithsonian.json</td>
                <td class="txt--right">1,217,459</td>
                <td class="txt--right">50,000</td>
                <td>123.9 minutes</td>
            </tr>
            <tr>
                <th>totals</th>
                <td>1,331,594</td>
                <td>118,231</td>
                <td>132.38 minutes</td>
            </tr>
            </tbody>
        </table>
      {#  <p>Both as an exercise in learning more about the <a href="https://golang.org/">Go Programming Language</a>

           and as way to develop a lean, stripped-down JSON server, work has started on a Go 
           version of the Linked Data Fragments Server.</p> #}

    </section>
</div>
<p class="measure p2">
<a class="btn--green mx2" href="{{ url_for('show_slide', number=5) }}">
		<i class="fa fa-hand-o-left"></i>
		Representing Triples</a>
<a class="btn--blue mx2" href="{{ url_for('show_slide', number=7) }}">
	    	Ingestion Testing
		<i class="fa fa-hand-o-right"></i>

</a>
</p>
{% endblock %}
