{% extends 'base.html' %}

{% block main %}
<h2 class="mx2">Go Production Server</h2>
<div class="grd-row mx2">
    <section class="grd-row-col-2-6">
        <div class="brdr--light-gray bg--blue" style="width: 70%">
            <p class="fnt--off-white px1">
                Docker, what docker &hellip;

            </p>

        </div>

    </section>
    <section class="grd-row-col-4-6">
        <p>Both as an exercise in learning more about the <a href="https://golang.org/">Go Programming Language</a>
           and as way to develop a lean, stripped-down JSON server, work has started on a Go 
           version of the Linked Data Fragments Server.</p>

    </section>
</div>
<p class="measure p2">
<a class="btn--green mx2" href="{{ url_for('show_slide', number=5) }}">
		<i class="fa fa-hand-o-left"></i>
		Results</a>
<a class="btn--blue mx2" href="{{ url_for('show_slide', number=7) }}">
	    What's Next	
		<i class="fa fa-hand-o-right"></i>

</a>
</p>
{% endblock %}
